# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

** Objectives **

# List popular languages for Data Science
- Python

* R

+ SQL

+ Java

# Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C
4. C++

## Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. PyTorch
4. SciPy

## Table of Data Science tools
|Data Science Tools| 
| ------ |
| TensorFlow |
|Apache Spark |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=200/60
hours

3.3333333333333335

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

## Author name
Anurag